*.o
*.sym
*.map
*.cmd
*.su
*.dtb
*.tmp
.config
*.lex.c
*.tab.*
*.bin
*.fip
*.srec
*.pyc
*.mkimage
.binman_stamp
.config.old
.mconf-cfg
*.configs
boards.kconfig
.tmp.defconfig
asm-offsets.s
lib.a
httpd-fsdata.c
generated
dt.dtb.S
u-boot.cfg
*.patch
/uboot*/include/config
/uboot*/u-boot.lds
/uboot*/u-boot
.vscode
/mkgpt/*.bin
/mkgpt/*.img
/mkgpt/bin
/mkgpt/gpttable
__pycache__
output*/
mt798x_gpt_bin/*
mt798x_simg/*
unopen/*
migration_*/
migration*.py
ptgen

# Toolchain
openwrt-toolchain*
node_modules/

# Upstream
u-boot-*/
mtk-*/
*.zip
atf-*/
