// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2024
 * Author: Mikhail Zhilkin <csharper2005@gmail.com>
 */

/dts-v1/;
#include "mt7986.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	model = "MERCUSYS MR90X v1";
	compatible = "mediatek,mt7986", "mediatek,mt7986-rfb";

	chosen {
		stdout-path = &uart0;
		tick-timer = &timer0;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x20000000>;
	};

	keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&pio 10 GPIO_ACTIVE_LOW>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			label = "green:lan2";
			gpios = <&pio 7 GPIO_ACTIVE_LOW>;
		};

		led-1 {
			label = "green:lan1";
			gpios = <&pio 9 GPIO_ACTIVE_LOW>;
		};

		led-2 {
			label = "green:lan0";
			gpios = <&pio 12 GPIO_ACTIVE_LOW>;
		};

		led-3 {
			label = "green:wan";
			gpios = <&pio 13 GPIO_ACTIVE_LOW>;
		};

		led-4 {
			label = "amber:status";
			gpios = <&pio 16 GPIO_ACTIVE_HIGH>;
		};

		led_status_green: led-5 {
			label = "green:status";
			gpios = <&pio 17 GPIO_ACTIVE_HIGH>;
		};
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
	status = "disabled";
};

&eth {
	status = "okay";
	mediatek,gmac-id = <0>;
	phy-mode = "2500base-x";
	mediatek,switch = "mt7531";
	reset-gpios = <&pio 5 GPIO_ACTIVE_HIGH>;

	fixed-link {
		speed = <2500>;
		full-duplex;
	};
};

&pio {
	spi_flash_pins: spi0-pins-func-1 {
		mux {
			function = "flash";
			groups = "spi0", "spi0_wp_hold";
		};

		conf-pu {
			pins = "SPI2_CS", "SPI2_HOLD", "SPI2_WP";
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_00>;
		};

		conf-pd {
			pins = "SPI2_CLK", "SPI2_MOSI", "SPI2_MISO";
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_00>;
		};
	};

	spic_pins: spi1-pins-func-1 {
		mux {
			function = "spi";
			groups = "spi1_2";
		};
	};

	uart1_pins: spi1-pins-func-3 {
		mux {
			function = "uart";
			groups = "uart1_2";
		};
	};
};

&spi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi_flash_pins>;
	status = "okay";
	must_tx;
	enhance_timing;
	dma_ext;
	ipm_design;
	tick_dly = <2>;
	sample_sel = <0>;

	spi_nand@1 {
		compatible = "spi-nand";
		reg = <1>;
		spi-max-frequency = <20000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				reg = <0x0 0x100000>;
				label = "bl2";
			};

			partition@100000 {
				reg = <0x100000 0x100000>;
				label = "factory";
			};

			partition@200000 {
				reg = <0x200000 0x7e00000>;
				label = "ubi";
			};
		};
	};
};

&watchdog {
	status = "disabled";
};
