_PLAT_MT7987=y
_BOOT_DEVICE_SPI_NOR=y
_ENABLE_OVERRIDE_FIP_BASE=y
OVERRIDE_FIP_BASE=0x1d0000
_ENABLE_OVERRIDE_FIP_SIZE=y
OVERRIDE_FIP_SIZE=0x100000
_DDR3_FREQ_2133=y
_DDR_REFRESH_INTERVAL_390=y
_DDR_POWER_DOWN_DYNAMIC=y
_DRAM_DEBUG_LOG=y
_LOG_LEVEL_INFO=y
