// SPDX-License-Identifier: (GPL-2.0 OR MIT)

/dts-v1/;
#include "mt7987a-emmc-board-common.dtsi"

/ {
	config {
		blink_led = "wifi";
		system_led = "sys";
	};

	gpio-keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&pio 1 GPIO_ACTIVE_LOW>;
			debounce-interval = <10>;
		};

		wps {
			label = "wps";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&pio 0 GPIO_ACTIVE_LOW>;
			debounce-interval = <10>;
		};
	};

	leds {
		compatible = "gpio-leds";
		led0 {
			label = "wifi";
			gpios = <&pio 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led1 {
			label = "sys";
			gpios = <&pio 4 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
};

&eth0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mdio0_pins>;
	phy-mode = "2500base-x";
	phy-handle = <&phy1>;

	phy1: ethernet-phy@1 {
		compatible = "ethernet-phy-id001c.c849", "ethernet-phy-ieee802.3-c45";
		reg = <1>;
		phy-mode = "2500base-x";
		reset-gpios = <&pio 42 GPIO_ACTIVE_LOW>;
		reset-assert-us = <200000>;
		reset-deassert-us = <200000>;
	};
};
