// SPDX-License-Identifier: GPL-2.0
// Hardware derived from lede DTS mt7986a-asus-tuf-ax4200.dts (mt7531 switch),
// converted to uboot DTS idiom. ASUS TUF-AX4200 uses 256MiB SPI-NAND with a
// 4096k bootloader partition and UBI_DEV@0x400000.

/dts-v1/;
#include "mt7986.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	model = "ASUS TUF-AX4200";
	compatible = "mediatek,mt7986", "mediatek,mt7986-rfb";

	chosen {
		stdout-path = &uart0;
		tick-timer = &timer0;
	};

	mtd-layout {
		layout@0 {
			label = "default";
			mtdids = "nmbm0=nmbm0";
			mtdparts = "nmbm0:4096k(bootloader),258048k(ubi)";
		};

		layout@1 {
			label = "lede";
			mtdids = "nmbm0=nmbm0";
			mtdparts = "nmbm0:4096k(bootloader),258048k(ubi)";
		};

		layout@2 {
			label = "256m";
			mtdids = "nmbm0=nmbm0";
			mtdparts = "nmbm0:4096k(bootloader),241664k(ubi)";
		};

		layout@3 {
			label = "512m";
			mtdids = "nmbm0=nmbm0";
			mtdparts = "nmbm0:4096k(bootloader),487424k(ubi)";
		};

		layout@4 {
			label = "expand(auto)";
			mtdids = "nmbm0=nmbm0";
			mtdparts = "nmbm0:4096k(bootloader),-(ubi)";
		};
	};

	config {
		bootcmd = "mtkboardboot";
		blink_led = "white:system";
		system_led = "white:system";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x20000000>;
	};

	gpio-keys {
		compatible = "gpio-keys";

		button-reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&pio 9 GPIO_ACTIVE_LOW>;
		};

		button-mesh {
			label = "wps";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&pio 10 GPIO_ACTIVE_LOW>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		led_system: led-0 {
			label = "white:system";
			gpios = <&pio 11 GPIO_ACTIVE_HIGH>;
		};

		led-1 {
			label = "white:wlan24";
			gpios = <&pio 1 GPIO_ACTIVE_HIGH>;
		};

		led-2 {
			label = "white:wlan5";
			gpios = <&pio 2 GPIO_ACTIVE_HIGH>;
		};

		led-3 {
			label = "red:wan";
			gpios = <&pio 12 GPIO_ACTIVE_LOW>;
		};
	};

	bl2_verify {
		bl2_compatible = "spim-nand";
	};
};

&eth {
	status = "okay";
	mediatek,gmac-id = <0>;
	phy-mode = "2500base-x";
	mediatek,switch = "auto";
	reset-gpios = <&pio 5 GPIO_ACTIVE_HIGH>;

	fixed-link {
		speed = <2500>;
		full-duplex;
	};
};

&pio {
	spi_flash_pins: spi0-pins-func-1 {
		mux {
			function = "flash";
			groups = "spi0", "spi0_wp_hold";
		};

		conf-pu {
			pins = "SPI2_CS", "SPI2_HOLD", "SPI2_WP";
			drive-strength = <MTK_DRIVE_4mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_00>;
		};

		conf-pd {
			pins = "SPI2_CLK", "SPI2_MOSI", "SPI2_MISO";
			drive-strength = <MTK_DRIVE_4mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_00>;
		};
	};
};

&spi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi_flash_pins>;
	status = "okay";
	must_tx;
	enhance_timing;
	dma_ext;
	ipm_design;
	support_quad;
	tick_dly = <2>;
	sample_sel = <0>;

	spi_nand@0 {
		compatible = "spi-nand";
		reg = <1>;
		spi-max-frequency = <52000000>;
	};
};

&uart0 {
	status = "okay";
};

&watchdog {
	status = "disabled";
};
